# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/cypress/videos
/cypress/screenshots

# production
/build
/dist

# development environment
/.idea
/.vscode
/.vs
/.history
/.env
.env
.env.*
!.env.example

# Docker
/docker/development-mock/node_modules

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# cache
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache

# TypeScript
*.tsbuildinfo

# misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp
*.swo
*~